@import "./bootstrap.darkly.min.css";
@import "./font-awesome.min.css";
@import "./downupPopup.css";

#search {
    background-color: #303030;
    font-size: 1.5em;
    color: #ebebeb;
    padding-left: 0;
    padding-right: 0;
    border: none;
}
.input-group-text {
    border: none;
}
.border-bottom {
    border-bottom: 1px solid #eee;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}
.padding-top-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
}
#radio-channels {
    overflow: hidden;
    margin-bottom: 118px;
}

@media (max-width: 768px) {
    #radio-channels {
        overflow: visible;
    }

    #radio-channels {
        margin-bottom: 64px;
    }
}
.radio-channel {
    cursor: pointer;
}
.radio-channel:hover {
    background-color: #303030;
}
.radio-channel .btn {
    margin: 0;
}
.channel-name {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
}
.channel-station {
    margin-bottom: 0;
}

.track-detail-desktop .album {
    height: auto;
    max-height: 122px;
    max-width: 100%;
}

.track-detail-mobile .album {
    height: auto;
    max-height: 52px;
    max-width: 100%;
}

.downupPopup-content .album {
    width: 100%;
    height: auto;
    max-height: 350px;
}

.track-name {
    font-weight: bold;
}

.track-artist {
    color: #777;
}

.track-detail-desktop .track-name {
    white-space: nowrap !important;
}

.track-detail-mobile .track-name {
    padding-top: 2px;
    height: 100%;
    z-index: 6200 !important;
}

.controls .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.controls .btn:first-child {
    margin-left: 0px;
    margin-right: 10px;
}

.controls .btn:last-child {
    margin-left: 10px;
    margin-right: 0px;
}

#downupPopup-element {
    z-index: 1100 !important;
}

.downupPopup-content .controls .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.downupPopup-content .controls .btn:first-child {
    margin-left: 0px;
    margin-right: 5px;
    padding-left: 0px;
}

.downupPopup-content .controls .btn:last-child {
    margin-left: 5px;
    margin-right: 0px;
    padding-right: 0px;
}

.track-detail-desktop .progress-duration {
    margin-top: 20px;
    width: 600px;
    height: 8px;
    position: relative;
    top: -1px;
}

.track-detail-mobile .progress-duration {
    width: 100%;
    height: 5px;
    position: relative;
    background-color: #444;
}

.downupPopup-content .progress-duration {
    width: 100%;
}

.track-detail-mobile .current-progress {
    color: #fff;
    width: 0%;
    height: 4px;
    background-color: #fff;
}

.track-detail-desktop .volume-range {
    width: 200px;
}

.volume-range {
    height: 8px;
    padding-left: 6px;
}

.downupPopup-content #mobile-controls-bottom {
    position: absolute;
    bottom: 104px;
    width: 94%;
}

.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}
#searchform {
    width: 100%;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

/*
.fa-redo::after {
    content: "1";
    z-index: -1;
    position: relative;
    top: 8px;
    color: #fff;
    width: 100%;
    height: 100%;
}
*/

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    height: 5px;

    border: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    border: none;
    background: none;
    outline: none;
}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb:focus,
input[type="range"]::-webkit-slider-thumb:hover {
    outline: none;
    border: none;
    background: #2f4d6c;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}
